<a href="https://colab.research.google.com/github/AdicherlaVenkataSai/PyforML/blob/master/Introduction%20to%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. DATA STRUCTURES IN PYTHON

### lists
1. A list can store a sequence of objects
2. These objects can be of various types

In [ ]:
mylist = ['Hello', 12, 'world', 11.111]  # a list can have both strings and numbers
print(mylist)
print(type(mylist))

['Hello', 12, 'world', 11.111]
<class 'list'>

In [ ]:
# The indexing can be done from both the sides 0 / -1

print(mylist[0])
print(mylist[-4])
print(mylist[3])
print(mylist[-1])

Hello
Hello
11.111
11.111

In [ ]:
# even we have the concept of slicing

print(mylist[0:2])  # slicing at position 2 (excludes 2), we get myslist[0], mylist[1]
print(mylist[1:4])  # slicing from position 1 to 4
print(mylist[2:])  # sliced at position 2, we get mylist[2], mylist[3]

['Hello', 12]
[12, 'world', 11.111]
['world', 11.111]

In [ ]:
# lists can be concatenated like strings

a = [1, 2, 3, 4, 5]
b = ['A', 'B', 'C']
c = ['A', 500, 'C']

b + c  # In the result we can observe duplicate 'A', lists allows duplicates

['A', 'B', 'C', 'A', 500, 'C']

In [ ]:
a + b + c  # Here the order is preserved and we have all the elements(includes duplicates)

[1, 2, 3, 4, 5, 'A', 'B', 'C', 'A', 500, 'C']

In [ ]:
d = a + b + c 
print(d)  # re-assigning them to new variable
print(d[-1])  # last element in the list d
print(d[-5:])  # last 5 elements in the list d

[1, 2, 3, 4, 5, 'A', 'B', 'C', 'A', 500, 'C']
C
['B', 'C', 'A', 500, 'C']

In [ ]:
mylist = ['Bangalore', 'Delhi', 'Chennai', 2000, 3400.56, 'Cool']  # new list
print(len(mylist))   # gives the length of the list
mylist  # prints the list

6

['Bangalore', 'Delhi', 'Chennai', 2000, 3400.56, 'Cool']

In [ ]:
# Removing the items form a list
# An object can be removed from a list by using del(), remove(), pop() functions

# When  you want to del according to the index, multiple values can also be deleted
del(mylist[5])  
print(mylist)

['Bangalore', 'Delhi', 'Chennai', 2000, 3400.56]

In [ ]:
del(mylist[:2])  # from starting to 2nd position  
print(mylist)

# note: 1. Only used when you don't know the element to be deleted
#       2. Deleted using only when you know indexs
#       3. del() function displays the element delted

['Chennai', 2000, 3400.56]

In [ ]:
newlist = ['Hello', 2, 3, 2, 'world', 2]

# when you only know the element to be deleted and doesnt know its index values
# we use remove() function to delete it
newlist.remove(3)  # here am removing 3, by mentioning itself in remove function
                   # rather providing its index
newlist
newlist.remove(2)  # removing 2
newlist
# here only one duplicate of 2 is removed
# the limitation of remove() function is, it only removes one duplicate from left hand side
# like only first match is removed from the list

['Hello', 2, 'world', 2]

In [ ]:
list1 = [1, 2, 3, 4, 5]
list1.pop(2)
# In case of pop() function, we provide the index value of the element to 
# be deleted, after deleting it, the value of the deleted element is displayed

3

In [ ]:
# Checking for an existence of an element in the list

print(4 in list1)  
# 'in' statement checks whether an element is present in the list or not
# and returns True if it is else False
print(9 in list1)

True
False

In [ ]:
list2 = ['Chennai', 'Mumbai', 'Goa']

'Banglore' in list2

False

In [ ]:
'Goa' in list2

True

In [ ]:
'Banglore' not in list2  # as it is not in list2 we get true

True

In [ ]:
# fetching min and max (numerical data in list)

l1 = [1, 2, 3]
max(l1), min(l1)
# This functions doesn't work for string data

(3, 1)

In [ ]:
# adding an element at the end: append()

l1 = [1, 2, 3, 4]
l1.append(5)  # single element can be appended at end
# l1.append(6, 7)  # append() takes exactly one argument (2 given)
l1

[1, 2, 3, 4, 5]

In [ ]:
l1.append([6, 7])  # if we make of list of items to append and try
l1  # we'll find results in abonormal manner
    # i.e; a list of [6,7] is added in the existing list instead of 6, 7 elements

[1, 2, 3, 4, 5, [6, 7]]

In [ ]:
# To overcome the limitation of append()
# we're using extend(), we pass a list of elements to be added as an ip to a list
l1 = [1, 2, 3, 4]
print(l1)
l1.extend([5, 6, 7])
l1
# But these two functions can only add the element at end itself, not in other positions

[1, 2, 3, 4]

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
# Here we use insert(position, value) function to acheive it
l1 = [1, 2, 3, 4]
print(l1)
l1.insert(0, 0)  # inserting at position 0 with value 0
l1
# note: The positions of previously available elements get adjusted according to insert position

[1, 2, 3, 4]

[0, 1, 2, 3, 4]

In [ ]:
# Sorting 

# sort() function, reorders the list based on the values it holds.
# note: The original list gets updated after sort()
l1 = [1, 2, 3, 4]
print(l1)
l1.sort()  # as the list is already sorted, will display the same output as l1
print(l1)
l2 = [4, 3, 2, 1]
l2.sort()
l2

[1, 2, 3, 4]
[1, 2, 3, 4]

[1, 2, 3, 4]

In [ ]:
#sorted() function, it doesnt update the actual list, rather it gives the sorted list
l2 = [4, 3, 2, 1]
print(sorted(l2))
l2

[1, 2, 3, 4]

[4, 3, 2, 1]

In [ ]:
# Re-assigning the  list (overwrite a value)
# list_name[position] = value

print(l2)
l2[0] = 1 
print(l2)
l2[1] = 2
print(l2)
l2[2] = 3 
print(l2)
l2[3] = 4
print(l2)

[4, 3, 2, 1]
[1, 3, 2, 1]
[1, 2, 2, 1]
[1, 2, 3, 1]
[1, 2, 3, 4]

### Tuples

Very similar to list(mutable), but these are immutable.
note: Immutable are the ones which can't be updated/changed/rewritten over the actual ones(once its created then its final)
1. Elements in tuple can't be edited once  assigned
2. A tuple can't be appended to or extended in any way
3. Tuples are indexed similar to lists

In [ ]:
# note: we using ( ) to make tuples rather [ ]  for lists
tuple1 = ('welcome', 21.33, 'hello world', 70.2)
print(type(tuple1))
tuple1

<class 'tuple'>

('welcome', 21.33, 'hello world', 70.2)

In [ ]:
#tuple1.append(5)  # trying to append value 5
                  # 'tuple' object has no attribute 'append'

AttributeError: ignored

In [ ]:
# we can apply all other operations similar as list, except mentoned above

print(tuple1[0])
print(tuple1[:2])  #  excludes the element at position 2
print(tuple1[-1])

welcome
('welcome', 21.33)
70.2

### Dictionaries
1. Type of collection which contains of key, value pairs
2. The key and values can be of any type
3. Dictionary is indexed through the keys
4. No duplicates allowed

In [ ]:
# we use { keys: values, ... } 

dict = { 'A': 1, 'B': 2, 1: 'A', 2: 'B'}
dict, dict[1], dict['A']  # key act as an index

({1: 'A', 2: 'B', 'A': 1, 'B': 2}, 'A', 1)

In [ ]:
dict2 = { 'A': 1, 'B': 2, 'A': 1, 2: 'B'}  # trying to assign duplicate key;value pair
dict2  # Check the o/p, the duplicate got ignored
# note: it even ignores the key: value pair with same keys and different values

{2: 'B', 'A': 1, 'B': 2}

In [ ]:
len(dict), len(dict2)  # just to check the length of dictionaries

(4, 3)

### Sets
A set is an unordered collection of data type that is iterable, mutable, and has no duplicate elements
note: combination of dictionaries and list

In [ ]:
# we use { }

s = {'a', 1, 'b', 'c', 1, 'a', 2, 3}  # only unique values are stored, no duplicate entries
s

{1, 2, 3, 'a', 'b', 'c'}

# 2. CONDITIONAL STATEMENTS

> if, else  and elif

In [ ]:
# only if condition
a = 10
if(a > 9):
  print(a, 'is greater than 9')

10 is greater than 9

In [ ]:
# if-else
a = 10
if(a > 10):
  print(a, 'is greater than 10')
else:
  print(a, 'is not greater than 10')

10 is not greater than 10

In [ ]:
# if-elif-else
a = 10
if(a > 10):
  print(a, 'is greater than 10')
elif(a < 10):
  print(a, 'is less than 10')
else:
  print(a, 'is equal than 10')

10 is equal than 10

In [ ]:
age = int(input('Enter your age:'))
qualification = input('Enter your Qualification:')
matrial_status = input('Enter your Martial Status:')

if(age < 35 and qualification == 'PG' and matrial_status == 'married'):
  print('*' * 10)
  print('Your age: ',age)
  print('Qualification: ',qualification)
  print('Martial Stauts: ',matrial_status)
  print('Congratualitions! You\'re qualified for ABC immigration')
  print('*' * 10)
elif(age > 35):
  print('*' * 10)
  print('Your age: ',age)
  print('Qualification: ',qualification)
  print('Martial Stauts: ',matrial_status)
  print('Oops! Age bar, not applicable for ABC immigration')
  print('*' * 10)
elif(qualification == 'UG'):
  print('*' * 10)
  print('Your age: ',age)
  print('Qualification: ',qualification)
  print('Martial Stauts: ',matrial_status)
  print('Oops! You\'re underqualified to immigrate')
  print('*' * 10)
elif(matrial_status != 'married'):
  print('*' * 10)
  print('Your age: ',age)
  print('Qualification: ',qualification)
  print('Martial Stauts: ',matrial_status)
  print('Oops! You have failed the martial qualification, not eligible for ABC immigration')
  print('*' * 10)

Enter your age:34
Enter your Qualification:PG
Enter your Martial Status:married
**********
Your age:  34
Qualification:  PG
Martial Stauts:  married
Congratualitions! You're qualified for ABC immigration
**********

### 3. LOOPS

In [1]:
# for loop
for name in range(1, 10):
  print('Hello')

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [4]:
l1 = ['A', 'B', 'C', 'D', 'E']
for name in l1:
  invite = 'Hi ' + name + '. Please come to the party'
  print(invite)

Hi A. Please come to the party
Hi B. Please come to the party
Hi C. Please come to the party
Hi D. Please come to the party
Hi E. Please come to the party

In [5]:
# while loop, it checks some condition
count = 1
while(count <= 10):
  print(count)
  count += 1

1
2
3
4
5
6
7
8
9
10

In [7]:
# nested loops
list_ = []
for x in range(1, 100):
  if(x % 7 == 0):
    list_.append(x)
list_

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

# 4. FUNCTIONS

In [8]:
def greetings_Call():  # creating a function
  print('Welcome I am inside the function')

greetings_Call()  # calling the function

Welcome I am inside the function

In [10]:
def sumit(a, b):
  return a, b, a+b  # sum of a, b is a+b

sumit(10, 20)

(10, 20, 30)

### lambda

In [11]:
# lambda function
add = lambda x, y : x + y
add(10, 20)

30

In [13]:
a = lambda x : x % 2 == 0
a(10)

True

In [14]:
a(21)

False

### filters

In [16]:
# syntax  = filter(function, sequence)
# the functon is applied on the sequnece and the values/content is filtered based on the functionn
l1 = [5, 7, 32, 97, 54, 62, 61, 3248]
final_list = list(filter(lambda x : (x % 2 == 0), l1))
final_list
# using filter we can't compute anything, rather we only decide either it is true or false

[32, 54, 62, 3248]

### map

In [17]:
# so we use map, calculate and stores it
# map(function, sequence)
varlist = [0, 10, 0, 30, 1]
out = list(map(lambda x: x * 10, varlist))
out

[0, 100, 0, 300, 10]

### reducer

In [19]:
import functools as f  # reduce function is in
import operator as o  # add fuction is in
l1 = [5, 8, 10, 20, 50, 100]  
# 5 + 8 = 13, store 13
# 13 + 10 = 23, store 23
# go on,unitl nothing is left to add and it doesnt update the list, rather update the sum value
sum = f.reduce(o.add, l1)  # reduce(function, sequence)
sum

193

### accumulator

In [20]:
import itertools as i
l1 = [1, 3, 4, 10, 4]
print(list(i.accumulate(l1, lambda x, y : x+y)))
# consider two arguments form the list and add them up

[1, 4, 8, 18, 22]

In [21]:
print(list(i.accumulate(l1, lambda x, y : x*y)))

[1, 3, 12, 120, 480]